/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Apply Google font to our webpage*/
body {
	font-family: "Open Sans", sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav > ul {
	list-style-type: none;
}

/*padding vs margin*/
/*padding is best used when creating space between an element's border
and it's content.*/
/*margin is best used when creating space between elements*/


/* The inline property change the li elements in the nav into inline elements.*/
nav li {
	margin: 0.5rem;
	display: inline;
}

#intro {
/*	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2 rem;
	padding-bottom: 3rem;*/
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro>div>button {
	background-color: darkred;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem 10%;
}

#succeed-info>h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	margin-bottom: 1rem;
	text-align: center;
}

.card{
	display: inline-block;
	vertical-align: top;
	/*allows card to have equal height*/
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.pre-footer-section *{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

/*Mbr 1*/
/*Step 2*/

#pre-footer{
	padding: 1rem;
	color: white;
	background-color: #002540;
}


/*Mbr2 Child Selector*/
#pre-footer div {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 0.3rem 0px 0.3rem 0px;

}


/*Mbr4*/
footer {
	padding: 0.7rem;
}


/*Mbr5*/
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}
