/*
	CSS Syntax

	selector {
		property: value;
	}
*/
/*Type Selector*/
h1	{
/*	color - property changes the color of text.*/
	color: red;
	text-align: center;
	font-size: 2rem;
}
/*---------------------------------------------------*/

/*Universal Selector*/
/* font-family property - changes the style of the font */
/* font-size - changes the size of text. */

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*ID Selector*/
/*letter spacing property - changes the spaces in between of a text.*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/* text-transform changes font to certain case */
/*the value uppercase*/
.offering-item {
	text-transform: uppercase;
}

/*Type Selector*/
/*h3 {
	letter-spacing: 25px;
}*/

/*Adjacent Sibling selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
section li {
	color: #075966;
}

/*General Sibling Selector*/
/* text decoration property changes the line of text. */

h2 ~ a {
	text-decoration: none;
}

/*Child Selector*/
section > .modules {
	letter-spacing: 3px;
}

/*background-cplor property changes the background property of an element.*/
body {
	background-color: skyblue;
}

/*The scroll-behavior property changes the scrolling behavior when clicking on */
html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*float property changes the horizontal alignment of an element to float
either to the left or to the right*/

div {
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5 rem;
}

/*list-style -type property changes the bullet points/ numbers used in a list*/
ol {
	list-style: none;
}